html,body{
	margin: 0;
	padding: 0;
	background-color: #494ca2;
}

.container{
	max-width: 1200px;
}

.margin--jarak{
	margin: 60px auto;
	margin-bottom: 0;
	border-radius: 10px;
	overflow: hidden;
}

.sidebar {
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
	position: fixed;
	height: 100%;
	overflow: auto;
}

.sidebar a {
	display: block;
	color: #8186d5;
	padding: 16px;
	text-decoration: none;
}

.sidebar a.active {
	background-color: #8186d5;
	color: white;
}

.sidebar a:hover:not(.active) {
	background-color: #c6cbef;
	color: white;
}

div.content {
	margin-left: 200px;
	padding: 1px 16px;
	min-height: 1000px;
	background-color: white;
}

.sidebar span{
	padding: 5px;
	display: inline-block;
	display: none;
}

@media screen and (max-width: 700px) {
	.sidebar {
		width: 100%;
		height: auto;
		position: relative;
	}
	.sidebar a {float: left;}
	div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
	.sidebar a {
		text-align: center;
		float: none;
	}
}

@media screen and (max-width: 400px) {
	.sidebar a {
		display: none;
	}

	.sidebar span{
		display: inline-block;
	}
}

.ul--list{
	list-style: none;
	margin: 0;
	padding: 0;
}

.ul--list li{
	display: block;
}

.overlay {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9);
	overflow-y: hidden;
	transition: 0.5s;
}

.overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

@media screen and (max-height: 450px) {
	.overlay {overflow-y: auto;}
	.overlay a {font-size: 20px}
	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}


/* grid */
.row::after {
	content: "";
	clear: both;
	display: table;
}

[class*="col-"] {
	float: left;
	padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/* end grid */

* {
	box-sizing: border-box;
}

.btn{
	border: none;
	border-radius: 5px;
	background-color: #8186d5;
	color: white;
	padding: 5px 14px;
	display: inline-block;
	margin-bottom: 5px;
}

a{
	text-decoration: none;
}

.table--data {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.table--responsive{
	overflow-x:auto;
}

.table--data td, .table--data th {
	border: 1px solid #ddd;
	padding: 8px;
}

.table--data tr:nth-child(even){background-color: #f2f2f2;}

.table--data tr:hover {background-color: #ddd;}

.table--data th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #8186d5;
	color: white;
}

.btn--red{
	background-color: #ff6361;
}

.d-inline-block{
	display: inline-block;
}

.text-right{
	text-align: right;
}

.margin-0{
	margin: 0;
}

.btn--green{
	background-color: #52de97;
}

/* form */

.form-control{
	width: 100%;
	padding:10px;
	border: 2px solid #8186d5;
	opacity: .5;
	transition: .5s;
	background-color: #eeeeee;
	border-radius: 5px;
}
.form-group label{
	color: #8186d5;
	margin-bottom: 5px;
	display: block;
}
.form-control:focus{
	opacity: 1;
}

.form-group{
	margin-bottom: 10px;
}

.form--data{
	max-width: 400px;
}
/* end form */

.profile--user img{
	width: 40px;
	height: 40px;
	object-fit: contain;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 6px;
}

.logo--gambar img{
	max-width: 200px;
	margin: 0 auto;
	display:block;
}

.logo--gambar{
	margin-bottom: 30px;
}